.vsCustom{
    margin-left: -23px !important;
}

.top-score .text h3 {
    font-size: 18px !important;
}



.top-score .text .score {
    font-size: 14px !important;
}

.games-filter .form-group .form-control{
    height: 33px !important;
    font-size: 14px !important;
}

.sidebar-box {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.scoreboard-3{

    padding-top: 150px;
    padding-bottom: 60px;
}

@media (max-width: 991.98px){
    .ftco-navbar-light.scrolled .nav-item.active > a {
        color: white !important;
    }
}

@media (min-width: 991.98px){
    .scoreboard-4{
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        padding-left: 16px !important;
        padding-right: 0 !important;
    }

    .scoreboard-4 .sport-team .score {
        font-size: 40px !important;
    }

    .scoreboard-4 .sport-team .logo {
        width: 80px !important;
        height: 80px !important;
    }

    .scoreboard-4 .sport-team .team-name {
        font-size: 16px !important;
    }

    .scoreboard-4 .divider span{
        font-size: 12px !important;
    }

    .scoreboard-4 .sport-team-wrap span.vs{
        font-size: 32px !important;
        margin-left: -25px !important;
    }
}





.hero-wrap.hero-wrap-2{
    height: 650px !important;
}

.hero-wrap.hero-wrap-2 .container .ftco-animate{
    padding-bottom: 8rem !important;
}

.video-wrap-2{
    margin-top: -4rem !important;
}

.ftco-highlights-2{
    padding-bottom: 0 !important;
}

@media (max-width: 767.98px){
    .scoreboard .sport-team-wrap span.vs {
        display: none;
    }
}
