.vsCustom{
    margin-left: -23px !important;
}

.top-score .text h3 {
    font-size: 18px !important;
}



.top-score .text .score {
    font-size: 14px !important;
}

.games-filter .form-group .form-control{
    height: 33px !important;
    font-size: 14px !important;
}

.sidebar-box {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
